/*-- scss:rules --*/

.teach-left {
  float: left;
  width: 75%;
}

.teach-right {
  float: right;
  width: 20%;
}

.teach-left::after,
.teach-right::after {
  content: "";
  display: table;
  clear: both;
}